body {
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    font-family: helvetica;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

/*.audience-feedback-container */button {
    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 0.3rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

/*.audience-feedback-container */button:hover {
    background-color:gold;
    border-color: gold;
    color: black;
}

/*.audience-feedback-container */button:active {
    background-color: white;
    color: black;
    border-color:white;
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12vh;
    z-index: 2;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'VT323';
    border-bottom: 1px solid white;
}

#logo {
    display: flex;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
}

#logo-mic {
    width: 80px;
}

#about {
    font-size: 2.5rem;
    margin-right: 1rem;
}

#about:hover {
    color: gold;
}

#about:active {
    color: white;
}

/* Main */

main {
    box-sizing: border-box;
    width: 100%;
    height: 90vh;/*I think this could be handled better*/   
    position: relative;
    top: 80.5px; /*6vw;
    /*padding-top: 5.125rem;*/
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    z-index: 1;
    /*Need to fix this so there aren't black gaps where image doesn't cover*/background: url("https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F355374289%2F171885889364%2F1%2Foriginal.20220915-213000?w=1000&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C237%2C2840%2C1420&s=4a444cebc7a0785b5118e33cbb2c7365") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.907);
    overflow: scroll;
}

/*#background-image {
    height: 100vh;
    position: sticky;
    top: 80.5px;
    z-index: 1;
    background: url("https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F355374289%2F171885889364%2F1%2Foriginal.20220915-213000?w=1000&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C237%2C2840%2C1420&s=4a444cebc7a0785b5118e33cbb2c7365") no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.907);
}*/

/* Screen 1 - Intro */

#hero-section {
    display: flex;
    justify-content: space-between;
}

#description {
    width: 60%;
    /*margin: 0 auto;*/
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

#description ol {
    margin-bottom: 3rem;
}

#description h1 {
    font-size: 1.5rem;
    line-height: 1.5;
}

#description h2 {
    margin-top: 3rem;
}

#description li {
    font-size: 1.25rem;
    line-height: 1.5;
}

#about-description {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.5rem;
}

#ready, #start-show {
    padding: 1.5rem;
    margin-bottom: 3rem;
    color: gold;
    border-color: gold;
}

#ready:hover, #start-show:hover {
    color: black;
}

#ready:active, #start-show:active {
    border-color: white;
}

#review-section-container {
    width: 30%;
    margin-top: 2.5rem;
}

#reviews-left {
    border-left: 1px solid gray;
    padding-left: 1rem;
}

h4 {
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.review {
    margin-bottom: 2rem;
    line-height: 1.5;
}

.star-rating {
    color: gold;
}

@media only screen and (max-width: 760px) {
    #hero-section {
        flex-direction: column;
    }

    #description {
        width: 90%;
        margin-bottom: 0.5rem;
    }

    #ready, #start-show {
        margin-bottom: 1.5rem;
    }

    #review-section-container {
        width: 100%;
        margin-top: 0rem;
    }

    #reviews-left {
        border: none;
        padding-left: 0rem;
    }

    h4 {
        margin-bottom: 1.5rem;
    }

    #reviews-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .review {
        width: 45%;
    }
}

@media only screen and (max-width: 600px) {
    #logo-mic {
        width: 60px;
    }
    
    #logo {
        font-size: 2.5rem;
    }

    #about {
        font-size: 2rem;
    }

    #description h1, #description h2 {
        font-size: 1.25rem;
    }

    #description li {
        font-size: 1rem;
    }

    #ready, #start-show {
        padding: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    #reviews-container {
        display: block;
    }

    .review {
        width: 70%;
    }
}

/* Screen 2 - Choose a comic */

#choose-a-comic-container {
    /*box-sizing: border-box;*/
    width: 100%;
    /*display: none;*/
    /*position: absolute;*/
    padding-top: 2rem;
    /*padding-left: 2vw;
    padding-right: 2vw;*/
}

#comic-header {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

#comic-container {
    display: flex;
    margin-bottom: 3rem;
}

.comic-choice {
    cursor:pointer;
    text-align: center;
    font-family: 'VT323';
    font-size: 2rem;
    border: 1px solid transparent;
}

.comic-choice:hover {
    color: gold;
    border: 1px solid gold;
}

.comic-headshot {
    width: 15.75vw;
}

.comic-choice h3 {
    margin-top: 1rem;
}

#start-show {
    display: none;
}

@media only screen and (max-width: 960px) {
    #comic-container {
        flex-wrap: wrap;
        margin-bottom: 0rem;
    }

    .comic-choice {
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }

    .comic-headshot {
        width: 30vw;
    };
}

@media only screen and (max-width: 600px) {
    .comic-choice {
        font-size: 1.5rem;
    }
}

/* Screen 3 - The comic's set */

#complete-set {
    /*display: none; *//*Change this to flex in order to get the section to show initially the way it should*/
    flex-direction: column;
    position: relative;
    top: 6vh;
}

#host-intro {
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    padding-left: 1rem;
    border-left: 3px solid gold;
}

.bit-container {
    margin-bottom: 4rem;
}

.comic-output-container {
    /*width: 50%;*/
    display: flex;
    align-content: flex-start;
}

.comic-headshot-for-bit {
    width: 10rem;
    height: 100%;
    /*border-right: 0.25rem solid white;*/
}

.comic-bit-container {
    border: 2px solid white;
    margin: 0rem 0.5rem 0.5rem 0;
    padding: 1rem;
    width: 70%;
    min-height: 5rem;
    font-size: 2rem;
}



.audience-feedback-container {
    margin-left: 10.25rem;
    margin-top: 1rem;
    display: flex;
}

.audience-feedback-container button {
    font-family: 'VT323';
}

@media only screen and (max-width: 1000px) {
    .bit-container {
        width: 100%;
    }

    .comic-output-container {
        width: 100%;
    }

    .comic-bit-container {
        font-size: 1.5rem;
        width: 100%;
    }
}

@media only screen and (max-width: 920px) {
    .audience-feedback-container {
        flex-wrap: wrap;
    }

    .audience-feedback-container button {
        margin-bottom: 0.5rem;
    }
}

@media only screen and (max-width: 760px) {
    #host-intro {
        font-size: 1.25rem;
        margin-left: 1.5rem;
    }

    .bit-container {
        width: 100%;
    }

    .comic-headshot-for-bit {
        width: 20%;
    }

    .comic-bit-container p {
        font-size: 1.5rem;
        width: 100%;
    }

    .audience-feedback-container {
        margin-left: 20%;
    }
}

/* Footer */

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0 2vw;
    /*border-top: 1px solid white;*/
    color: white;
    position: relative;
    /*bottom: 0;*/
    z-index: 1;
    background-color: transparent;
}

footer p {
    width: 60%;
    font-family: 'VT323';
    color: darkgrey;
}

#disclaimer-start {
    font-weight: 700;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: gold;
}